@import "../styles/globals.scss";
@import "../styles/responsive.scss";

.experienceContainer {
    width: 100%;
    min-height: 100vh;

    .experienceHeader {
        padding-top: 10px;
        border-top: solid 1px #9D0A9D;

        .label {
            padding-bottom: 45px;
            font-size: $componentLabelFontSize_Desktop;

        }
    }

    .experienceContent {
        display: flex;
        flex-flow: row wrap;
        padding-left: 5%;

        .experienceItemContainer {
            display: flex;
            flex-flow: column;
            width: 300px;
            margin: 10px;
            padding: 5px;
            padding-left: 10px;
            border-left: solid 1px #444;

            .expItemLabel {}

            .expItemRole {
                font-weight: 800;
                color: $antiquewhite;
            }

            .expItemStack {
                padding: 5px;
                font-size: small;

            }

            .expItemDate {
                margin: 2px;
                text-indent: 10px;
                font-style: italic;
                font-size: x-small;
            }

            .expAboutList {
                padding: 0;
                list-style-type: circle;
                list-style-position: inside;
                list-style-color: white;

                li.expAboutListItem {
                    display: list-item;
                    list-style-type: disc;
                    padding: 5px;
                    color: #ccc;

                }

            }
        }

    }

}