.floatingMenuContainer {

    position: absolute;
    width: 200px;
    height: 100px;
    // background-color: beige;

    @media only screen and (max-width: $xsDevice) {
        font-size: 0.7em;
    }
}