@import './../styles/responsive.scss';
@import './../styles/globals.scss';
@import './../styles/mixins.scss';

.skillsetContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  .skillsHeader {
    width: 100%;
    font-size: 2rem;
    padding: 5px;
    text-decoration: underline $lighterpink;
  }

  .itemContainer {
    width: 100%;
  }

  .skillSetItem {
    width: 48%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    margin: 4px 0;
    box-sizing: border-box;
    background-color: $bkgrdPurple;

    h4 {
      width: 100%;
      padding: 4px 0;
      margin: 0;
      font-weight: 800;
      color: $green;
    }

    .skillItemsList {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: hidden;
      font-size: small;

      .skillItem {
        padding: 3px 6px;
        font-size: 0.9rem;
        background-color: $transBlack;
        margin: 1px 5px;
      }
    }

    @media only screen and (max-width: $lgDevice) {
      width: 100%;
    }
  }
}