@import './../styles/responsive.scss';
@import './../styles/globals.scss';
@import './../styles/mixins.scss';

.skillsetContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  .skillsHeader {
    width: 100%;
    font-size: 2rem;
    padding: 5px;
  }

  .itemContainer {
    width: 100%;
  }

  .skillSetItem {
    width: 48%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    margin: 4px 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);

    h4 {
      width: 100%;
      padding: 4px 0;
      margin: 0;
      font-weight: 800;
    }

    .skillItemsList {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: hidden;
      font-size: x-small;

      .skillItem {
        padding: 2px 6px;
        font-size: 0.75rem;
      }
    }

    @media only screen and (max-width: $lgDevice) {
      width: 100%;
    }
  }

  // @media only screen and (max-width: $lgDevice) {}

  // @media only screen and (max-width: $mdDevice) {}


  // @media only screen and (max-width: $xsDevice) {}
}