@import '../styles/responsive.scss';
@import '../styles/globals.scss';
@import '../index.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

$hover-color: #fcfa85;


.banner-container {
    --f-size: 15;
    --f-unit: 1vmin;
    --f: calc(var(--f-size) * var(--f-unit));

    // height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    // justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .text-container {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        overflow: hidden;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        .banner-item {
            font-weight: 900;
            font-family: $quantify;
            font-size: 3rem;
            line-height: 1.2;
            position: relative;
            padding: 0;
            overflow: hidden;
            --bg-size: 200%;
            --color-one: #5372ff;
            --color-two: #e64595;
            background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/var(--bg-size) 100%;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            // mix-blend-mode: hard-light;
            -webkit-animation: move-bg 8s infinite linear;
            animation: move-bg 8s infinite linear;
        }

        .name {
            padding: 0;
            padding-right: 20px;
            position: relative;
            overflow: hidden;
            font-family: $quantify;
            line-height: 0.8;
            --bg-size: 200%;
            --color-one: #5372ff;
            --color-two: #e80c7a;
            text-shadow: -2px -2px 3px --color-one, 2px 2px 3px --color-two;
            background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/var(--bg-size) 100%;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-animation: move-bg 8s infinite linear;
            animation: move-bg 8s infinite linear;
        }

        .role {
            color: #fff;
            padding-left: 0;
            position: relative;
            overflow: hidden;
            --bg-size: 200%;
            --color-two: #e80c7a;
            --color-one: #00ffea;
            background: linear-gradient(152deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/var(--bg-size) 100%;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-animation: move-bg 8s infinite linear;
            animation: move-bg 8s infinite linear;
        }

        .underscore {
            width: 10px;
            color: #E80C7A;
            background-image: url('../assets/logos/droopy_e.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .aboutSelfDeveloperContainer {
        word-break: keep-all;
        position: relative;
        width: 60%;
        padding: 10px 0 10px 0;
        padding-right: 20px;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1;
        --bg-size: 200%;
        --color-one: #a542d7;
        --color-two: #a7ffff;
        background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/var(--bg-size) 100%;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: move-bg 8s infinite linear;
        animation-delay: 5s;
    }

    .bannerMenu {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        padding: 0;
        overflow: hidden;
        filter: saturate(200%);

        .bannerMenuItem {
            font-size: 1.5rem;
            // padding: 0 20px;
            overflow: hidden;
            color: #fff;

            text-shadow: 0 0 5 $peachPuff 0 0 0 rgba(255, 255, 255, 0.5);
        }

        // .bannerMenuItem:first-of-type {
        //     padding-right: 20px;
        //     margin-right: 20px;
        // }
    }

    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }

    @media only screen and (max-width: 1200px) {
        padding-left: 10px;

        .aboutSelfDeveloperContainer {
            width: 90%;
            padding-left: 0;
            font-size: 1.5rem;
            // overflow: hidden;
            hyphens: none;
            --bg-size: 200%;
            --color-one: #5372ff;
            --color-two: #fe5bdb;
            background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/var(--bg-size) 100%;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-animation: move-bg 8s infinite linear;
            animation: move-bg 8s infinite linear;
            animation: move-bg 8s infinite linear;
        }
    }

    @media only screen and (max-width: $smDevice) {
        width: 100%;

        .text-container {
            width: 100%;

            .banner-item {
                font-size: 3rem;
                overflow: hidden;
                font-weight: 900;
            }

            .name {
                color: $pink;
                overflow: hidden;
                --bg-size: 200%;
                --color-one: #5372ff;
                --color-two: #52ED8B;
                background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/var(--bg-size) 100%;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-animation: move-bg 8s infinite linear;
                animation: move-bg 8s infinite linear;
            }

            .role {
                color: #fff;
                padding-left: 0;
                // padding: 10px 0;
                overflow: hidden;
                --bg-size: 200%;
                --color-one: #ffcea7;
                --color-two: #fe5bdb;
                background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/var(--bg-size) 100%;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-animation: move-bg 8s infinite linear;
                animation: move-bg 8s infinite linear;
            }

            .bannerMenuItem {
                font-size: 1.5rem;
            }
        }

        .aboutSelfDeveloperContainer {
            width: 100%;
            padding-left: 0;
            font-size: 1.5rem;
            overflow: hidden;
            --bg-size: 200%;
            --color-one: #5372ff;
            --color-two: #fe5bdb;
            background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/var(--bg-size) 100%;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-animation: move-bg 8s infinite linear;
            animation: move-bg 8s infinite linear;
        }


        @keyframes move-bg {
            to {
                background-position: var(--bg-size) 0;
            }
        }


        @media only screen and (max-width: $xsDevice) {

            padding: 0px 10px;
            margin-top: 20px;

            // display: flex;
            .bannerMenu {
                flex-flow: row;
                align-items: flex-start;

                .bannerMenuItem {
                    padding: 0px 20px 5px 0;
                    border-radius: 10px;
                    font-size: 1.5rem;
                }
            }

            .aboutSelfDeveloperContainer {
                font-size: 1.5rem;
            }
        }
    }

}