@import '../styles/responsive.scss';
@import '../styles/globals.scss';

$hover-color: #fcfa85;


.banner-container {
    --f-size: 15;
    --f-unit: 1vmin;
    --f: calc(var(--f-size) * var(--f-unit));


    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .text-container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .banner-item {
            font-size: 4em;
            font-weight: 800;
            padding: 5px;
        }

        .name {
            color: $pink;
            padding-right: 20px;
        }

        .role {
            color: #fff;
            padding-left: 20px;
            box-sizing: border-box;
        }

        .underscore {
            width: 40px;
            color: #E80C7A;
            background-image: url('../assets/logos/droopy_e.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

    }

    .aboutSelfDeveloperContainer {
        position: relative;
        padding: 10px;
        width: 80%;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        font-stretch: extra-expanded;
        color: $grayish;
        // color: rgba(111, 111, 111, 0.4);
    }

    // @media only screen and (max-width: $xlDevice) {}

    // @media only screen and (max-width: $lgDevice) {}

    @media only screen and (max-width: $mdDevice) {}

    @media only screen and (max-width: $smDevice) {

        .text-container {
            padding-left: 20px;

            .banner-item {
                font-size: 2em;
            }

            .name {
                color: $pink;
                padding-right: 20px;
            }

            .role {
                color: #fff;
                padding-left: 0;
            }
        }

        .aboutSelfDeveloperContainer {
            width: 80%;
            box-sizing: border-box;
            margin: 10px 20px;
            font-size: 0.8rem;
            text-align: start;
            text-indent: 20px;
        }
    }
}