@import '../styles/responsive.scss';
@import '../styles/globals.scss';
@import '../index.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.bannerMenu {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .bannerMenuItem {
        color: #fff;
        font-size: 1.5rem;
        padding: 10px;
        padding-right: 20px;
        padding-left: 0;
        font-weight: 900;
        overflow: hidden;
    }

    .bannerMenuItem:first-of-type {
        margin-right: 10px;
    }

    .bannerMenuItem:hover {
        cursor: pointer;
    }
}