@import '../styles/responsive.scss';
@import '../styles/globals.scss';

$hover-color: #fcfa85;


.banner-container {
  --f-size: 15;
  --f-unit: 1vmin;
  --f: calc(var(--f-size) * var(--f-unit));

  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 100px;

  .text-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .banner-item {
      font-size: 4em;
      font-weight: 800;
    }

    .name {
      color: $pink;
    }

    .role {
      color: #fff;
      box-sizing: border-box;
    }

    .underscore {
      width: 50px;
      color: #E80C7A;
      background-image: url('../assets/logos/droopy_e.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 20px;
    }

  }

  .aboutSelfDeveloperContainer {
    align-self: flex-start;
    font-size: 1.7rem;

    --bg-size: 200%;
    --color-one: #5372ff;
    --color-two: #fe5bdb;
    background: linear-gradient(90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    animation: move-bg 8s infinite linear;
  }

  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }

  // @media only screen and (max-width: $xlDevice) {}

  // @media only screen and (max-width: $lgDevice) {}

  // @media only screen and (max-width: $mdDevice) {}

  @media only screen and (max-width: $smDevice) {
    padding-left: 20px;
    width: 100%;

    .text-container {
      // padding-left: 20px;

      .banner-item {
        font-size: 2em;
      }

      .name {
        color: $pink;
        padding-right: 20px;
      }

      .role {
        color: #fff;
        padding-left: 0;
      }

      .underscore {
        width: 50px;
        color: #E80C7A;
        background-image: url('../assets/logos/droopy_e.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 20px;
      }
    }

    .aboutSelfDeveloperContainer {
      --f-size: 15;
      --f-unit: 1vmin;
      --f: calc(var(--f-size) * var(--f-unit));
      width: 100%;
      border-radius: 0;
      box-sizing: border-box;
      font-size: 1.2rem;
      text-align: start;
      text-shadow: 0px 0px 1px #bebebe;
      --bg-size: 200%;
      --color-one: #5372ff;
      --color-two: #fe5bdb;
      background: linear-gradient(90deg,
          var(--color-one),
          var(--color-two),
          var(--color-one)) 0 0 / var(--bg-size) 200%;
      color: transparent;
      background-clip: text;
      animation: move-bg 8s infinite linear;
    }
  }
}