@import './../styles/globals.scss';

.bannerMenu {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    .bannerMenuItem {
        color: #fff;
        font-size: 2rem;
        padding: 20px;
        padding-right: 20px;
        font-weight: 900;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .bannerMenuItem:first-of-type {
        margin-right: 10px;
    }

    .bannerMenuItem:hover {
        cursor: pointer;
    }
}