@import '../styles/responsive.scss';
@import '../styles/globals.scss';
@import '../index.scss';

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: -2;

    .text-container {
        font-family: $atmos;
        font-size: 20vw;
        color: rgb(40, 40, 40);

    }

}

.displaying-text-container {
    //
}