.skills-experience-container {
    width: 90vw;

    //   min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 1;

    .space {
        width: 30vw
    }
}