@import "../../styles/globals.scss";
@import "../../styles/responsive.scss";

.experienceContainer {
    position: relative;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    overflow: visible;


    .experienceHeader {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        font-size: 2rem;
        padding: 5px;

        // .label {
        //     margin: 0;
        //     color: rgba(255, 255, 255, 0.2);
        //     padding: 0;
        //     // background-image: url("../../assets/images/pink_purp_yellow_sqr.jpeg");
        //     // background-size: cover;
        // }
    }

    .experienceItemsList {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: flex-end;
        overflow: visible;
    }

    @media only screen and (max-width: $smDevice) {
        flex-flow: column;
        width: 100%;
    }
}

.expItemListAndTargetContainer {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
}