@import "../../styles/globals.scss";
@import "../../styles/responsive.scss";

.experienceItemContainer {

    // width: -webkit-fit-content;
    // width: -moz-fit-content;
    // width: fit-content;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    padding-bottom: 10px;
    margin: 2px;
    background-color: $bkgrdPurple;
    border-radius: 2px;
    overflow: hidden;

    .name-role-icon-container {
        display: flex;
        flex-flow: row;
    }

    .icon-container {
        position: relative;
        // align-self: flex-end;
        // left: -90%;
        // top: 15px;
        z-index: 12;
        // padding: 2px;
    }

    .name-role-container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }

    .expItemName {
        padding-left: 10px;
        padding-right: 10px;
        color: aqua;
        // font-weight: 500;
    }

    .expItemRole {
        color: #ff76bb;
        font-size: .9rem;
        font-weight: 700;
        // padding-bottom: 5px;
        padding-right: 10px;
    }

    .tech-stack-icon-container {
        display: flex;
        flex-flow: row wrap;
    }

    .expItemStack {
        width: max-content;
        text-align: center;
        padding: 2px 10px;
        padding-right: 10px;
        font-size: 0.7rem;
        font-weight: 600;
        color: #fffec8;
        padding-right: 10px;
        border: solid 1px $purple;
        border-radius: 20px;
        margin: 2px;

    }

    .expItemLabel {
        padding-bottom: 2px;
        font-weight: 200;
        font-size: small;
    }

    .expItemDate {
        align-self: flex-end;
        bottom: 20px;
        right: 60px;
        font-style: italic;
        font-size: 0.8rem;
        line-height: 1.1;
        padding: 2px;
        padding-left: 5px;
    }
}