@import "../../styles/globals.scss";
@import "../../styles/responsive.scss";

.experienceItemContainer {
    // display: flex;
    // flex-flow: column;
    // max-width: 200px;
    // padding: 10px;
    // background-color: rgba(0, 0, 0, 1);
    // border-radius: 5px;
    // overflow-y: hidden;
    // margin: 5px;

    display: flex;
    flex-flow: column;
    min-width: 250px;
    padding: 10px;
    // border-right: solid 4px #7c7c7c;
    border-top: solid 1px #7c7c7c;
    // border-radius: 0 10px;
    // border-radius: 5px;
    // overflow-y: hidden;
    margin: 5px;

    .expItemRole {
        padding-bottom: 5px;
        font-weight: 800;
        color: $pink;
        font-size: calc(0.8rem);
    }

    .expItemStack {
        padding: 2px;
        font-size: 0.8rem;
        font-weight: 600;
        color: $peachPuff;
    }

    .expItemLabel {
        padding-bottom: 5px;
        font-weight: 200;
        font-size: x-small;
    }

    .expItemDate {
        bottom: 20px;
        right: 60px;
        font-style: italic;
        font-size: 0.8rem;
        line-height: 1.1;
        align-self: flex-end;
        padding: 0;
        padding-right: 5px;
    }
}