@import "../../styles/globals.scss";
@import "../../styles/responsive.scss";

.experienceContainer {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
    // overflow: hidden;
    margin-top: 50px;
    // z-index: 2;


    .experience-background-image {
        position: absolute;
        transform: rotate(10deg);
        width: 100vw;
        height: 150%;
        left: 0;
        // background-image: url("../../assets/images/dahlia_crystal3.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(2px);
        z-index: 0;
        overflow-y: hidden;
        padding: 0;
        margin: 0;
    }

    .experience-item-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        // overflow: hidden;
    }

    .experienceItemsList {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: flex-end;
        overflow: visible;
        // width: 100%;
        position: relative;
        background: none;
        z-index: 3;
    }

    @media only screen and (max-width: $smDevice) {
        flex-flow: column;
        // width: 100%;
    }
}

.expItemListAndTargetContainer {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
}