@tailwind base;
@tailwind components;
@tailwind utilities;


.three-bkgrd-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: -2;
}