// Colors
$hover-color: #E0EC31;
$teal: #42D7A7;
$purple: #AA5EF4;
$pink: #E80C7A;
$lighterpink: #e64595;
$yellow: #E0EC31;
$grayish: rgb(136, 141, 170);
$darkGrayish: rgb(57, 57, 57);
$antiquewhite: #faebd7;
$transWhite: rgba(255, 255, 255, 0.5);


// Padding & Margins 
$pagePadding_Desktop: 50px 100px;
$pagePadding_Mobile: 0 10px;


// Font Sizes
$menuFontSize_Desktop: 20px;
$menuFontSize_Desktop: 16px;

$componentLabelFontSize_Desktop: 24px;
$componentLabelFontSize_Mobile: 20px;

// 