@import '../../../styles/responsive.scss';
$hover-color: #fcfa85;

.data-item-container {
    box-sizing: border-box;
    width: 298px;
    font-size: 1.2em;
    left: 20px;
    padding: 1px;
    background-color: #222;
    margin: 1px;

    @media only screen and (max-width: $lgDevice) {
        width: 100%;
        margin: 0 auto;
        border: none;
        margin: 1px;
    }

    @media only screen and (max-width: $mdDevice) {
        width: 100%;
        margin: 0 auto;
        border: none;
        margin: 1px;
    }

    @media only screen and (max-width: $smDevice) {
        width: 100%;
        margin: 0 auto;
        border: none;
        margin: 1px;
    }

    @media only screen and (max-width: $xsDevice) {
        width: 100%;
        margin: 0 auto;
        border: none;
        margin: 1px;
    }
}