$hover-color: #fcfa85;
.modal-container {
  position: relative;
  overflow: scroll;
  width: 100%;
    h1 {
      font-size: 1.3em;
      margin: 5px 15px;
      &:hover {
        color:$hover-color;
        cursor: pointer;
      }
    }
  .list-container {
    width: 700px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    }
}