@import "../styles/globals.scss";
@import "../styles/responsive.scss";

.marqueeContainer {
    position: static;
    max-width: 100vw;
    width: 100vw;
    // height: 206px;
    height: 100px;
    overflow-x: hidden;
    bottom: 100px;

    .track {
        width: fit-content;
        min-width: 100vw;
        position: absolute;
        white-space: nowrap;
        display: flex;
        flex-flow: row;

        .marqueeDataContainer {
            display: flex;
            flex-flow: row nowrap;
            color: #fff;

            h1 {
                margin: 20px 0;
                padding: 0 20px;
                font-size: 1rem;
                font-weight: 900;
                text-transform: uppercase;

            }
        }

    }
}