/* .container {
    height: 50px;
    --s: 85px;
    /* control the size*/
/* --c1: #000;
--c2: #2d2b2f;

--g1: conic-gradient(from 45deg at 62.5% 12.5%, #0000 100%, var(--c1) 0);
--g2: conic-gradient(from -45deg at 12.5% 12.5%, #0000 100%, var(--c1) 0);
--g3: conic-gradient(from 225deg at 87.5% 87.5%, #0000 75%, var(--c2) 0);
--g4: conic-gradient(from 135deg at 87.5% 37.5%, #0000 75%, var(--c2) 0);
background: var(--g4),
var(--g4) var(--s) var(--s),
var(--g3),
var(--g3) var(--s) var(--s),
var(--g2),
var(--g2) var(--s) var(--s),
var(--g1),
var(--g1) var(--s) var(--s),
repeating-linear-gradient(135deg, var(--c2) 0 12.5%, var(--c1) 0 25%);
background-size: calc(2*var(--s)) calc(2*var(--s))
} */

.container {
    height: 50px;
    --s: 100px;
    /* control the size*/
    --c1: #1f0b18;
    --c2: #080f14;

    --_g:
        var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%, var(--c1) 36% 44%,
        var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%, var(--c1) 76% 84%, var(--c2) 86% 94%;
    background:
        radial-gradient(100% 100% at 100% 0, var(--c1) 4%, var(--_g), #0008 96%, #0000),
        radial-gradient(100% 100% at 0 100%, #0000, #0008 4%, var(--_g), var(--c1) 96%) var(--c1);
    background-size: var(--s) var(--s);
}