.redundContainer {
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(255, 195, 224);

    .btnPrnt {
        .redundBtn {
            position: relative;
            padding: 10px;
            margin: 5px;
            width: 100px;
            height: 50px;
            background-color: rgb(255, 240, 192);
            border-radius: 5px;
        }
    }

}