@import '../styles/responsive.scss';
@import '../styles/globals.scss';
@import '../styles/mixins.scss';

$hover-color: #fcfa85;


// $dope: 'dope';

// @font-face {
//     font-family: 'dope';
//     src: url(../../../assets/fonts/Dopestyle.ttf) format('truetype');
// }

.about-container {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;

    right: 40px;
    bottom: 40px;
    z-index: 1;
    color: #fff;
    font-weight: 100;


    @media only screen and (max-width: $lgDevice) {}

    @media only screen and (max-width: $mdDevice) {}

    @media only screen and (max-width: $smDevice) {}

    @media only screen and (max-width: $xsDevice) {}
}