@import '../styles/globals.scss';
@import '../styles/responsive.scss';
@import '../styles/mixins.scss';

// $dope: 'dope';

// @font-face {
//     font-family: 'dope';
//     src: url(../../../assets/fonts/Dopestyle.ttf) format('truetype');
// }


.work-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    z-index: 1111;
    top: 0;
    left: 0;
    border-radius: 20px;

    .coming-soon-container {
        // position: absolute;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 20px;
            // width: 50%;
            // height: 100%;
            // object-fit: contain;
            // border-radius: 20px;
            // padding: 100px;
            // border-radius: 20px;
        }

    }


    // .coming-soon-container {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     left: 0;
    //     top: 10rem;
    //     display: flex;
    //     flex-flow: column;
    //     justify-content: center;
    //     align-items: center;
    //     transform: rotate(-70deg);

    //     h1 {
    //         // position: absolute;
    //         font-size: 8em;
    //         // width: 100%;
    //         height: fit-content;
    //     }

    //     .coming {
    //         color: gray;
    //         top: 100px;
    //     }

    //     .soon {
    //         bottom: 100px;
    //         color: white;
    //         transform: rotate(180deg);
    //     }
    // }



    @media only screen and (max-width: $lgDevice) {
        // max-width: $lgDevice;
        // width: 80%;
        // margin-top: 10px;
        // width: 87%;
        // height: 53vh;
    }

    @media only screen and (max-width: $mdDevice) {
        // margin-top: 42px;
        // width: 87%;
        // height: 70vh;
    }

    @media only screen and (max-width: $smDevice) {
        // margin-top: 35px;
        // width: 95%;
        // height: 70vh;
    }
}