.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;


    .grid-cell {
        padding: 5px;
        margin: 5px;
        min-width: 200px;
        min-height: 200px;
        max-width: 400px;
        max-height: 400px;
        /* width: calc(100vh/4);
        height: calc(100vh/4); */
        /* min-width: 300px;
        min-height: 300px; */
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/* Square cells using modern aspect-ratio support */