@import '../../../styles/responsive.scss';
@import '../../../styles/globals.scss';

$sliderHeight: 100px;
$sliderWidth: 350px;

.slider-container {
    width: $sliderWidth;
    height: $sliderHeight;
    border-color: $hover-color;
    display: inline;
    flex-flow: row;
    overflow: hidden;

    .slider-item-container {
        width: $sliderWidth;
        height: $sliderHeight;
        position: relative;

        .fas {
            z-index: 1;
            width: 30px;
            position: absolute;
            top: 20px;
            font-size: 72px;
            opacity: 0.1;
            transition: opacity 0.5s;

            &:hover {
                opacity: 1;
                cursor: pointer;
                color: $hover-color;
            }
        }

        .fa-caret-left {
            left: 5px;
        }

        .fa-caret-right {
            left: 318px;
        }

        .slider-item {
            position: relative;
            width: $sliderWidth;
            height: 100px;
            text-align: center;
            line-height: 5;
            font-size: 22px;
            text-overflow: clip;
        }
    }

    @media only screen and (max-width: $lgDevice) {
        display: block;
        flex-flow: column;
        height: $sliderHeight;
        justify-content: space-between;

        .slider-item-container {}
    }

    @media only screen and (max-width: $mdDevice) {
        display: block;
        flex-flow: column;
        height: $sliderHeight;
        justify-content: space-between;

        .slider-item-container {}
    }

    @media only screen and (max-width: $smDevice) {
        display: block;
        flex-flow: column;
        height: $sliderHeight;

        .slider-item-container {}
    }

    @media only screen and (max-width: $xsDevice) {
        display: block;
        flex-flow: column;
        height: 100%;
        justify-content: space-between;

        .slider-item-container {}
    }
}