.video-background-container {
    /* height: 100vh; */
    /*z-index: -1;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    margin: 0;
    padding: 0;

    img {
        margin: 0;
        padding: 0;
    }
}