@import './styles/responsive.scss';
@import './styles/globals.scss';
@import './styles/mixins.scss';

.App {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    margin: 0;
    box-sizing: border-box;
    background: none;
    padding: $pagePadding_Desktop;
    padding-top: 0;

    // @media only screen and (max-width: $lgDevice) {}

    // @media only screen and (max-width: $mdDevice) {}

    @media only screen and (max-width: $smDevice) {
        padding: $pagePadding_Mobile;
    }

    @media only screen and (max-width: $xsDevice) {
        padding: $pagePadding_Mobile
    }
}