@import './styles/responsive.scss';
@import './styles/globals.scss';
@import './styles/mixins.scss';

// Colors
$bg-color: rgb(35, 34, 37);
// $dot-color: rgb(100, 87, 127);
$dot-color: rgb(11, 11, 11);

// Dimensions
$dot-size: 1px;
$dot-space: 8px;

$highlight-color: rgb(255, 75, 255);

::selection {
  --bg-size: 200%;
  --color-one: #5372ff;
  --color-two: #fe5bdb;
  background: linear-gradient(90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)) 0 0 / var(--bg-size) 100%;
  // color: transparent;
  // background-clip: text;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  margin: 0;
  box-sizing: border-box;
  background: none;
  padding: $pagePadding_Desktop;
  padding-top: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  @include dotBackground;


  // @media only screen and (max-width: $lgDevice) {}

  // @media only screen and (max-width: $mdDevice) {}

  @media only screen and (max-width: $smDevice) {
    padding: $pagePadding_Mobile;
  }

  @media only screen and (max-width: $xsDevice) {
    padding: $pagePadding_Mobile
  }
}