@import './styles/responsive.scss';
@import './styles/globals.scss';
@import './styles/mixins.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Colors
$bg-color: rgb(35, 34, 37);
// $dot-color: rgb(100, 87, 127);
$dot-color: rgb(11, 11, 11);

// Dimensions
$dot-size: 1px;
$dot-space: 8px;

$highlight-color: rgb(255, 75, 255);

::selection {
    --bg-size: 200%;
    --color-one: #5372ff;
    --color-two: #fe5bdb;
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
}

.App {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    margin: 0;
    box-sizing: border-box;
    // padding: 0 100px 50px 100px;
    padding-top: 0;
    scroll-behavior: smooth;

    .background-image {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        // background-image: url("./assets/images/1x/Asset\ 1.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }


    @media only screen and (max-width: $lgDevice) {
        // padding: 0 10px 50px 10px;
    }

    @media only screen and (max-width: $mdDevice) {

        .background-image {
            position: fixed;
            left: 0;
            top: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("./assets/images/1x/Asset\ 2.png");

        }

    }

    @media only screen and (max-width: $smDevice) {}

    // @media only screen and (max-width: $xsDevice) {
    //     padding: 0;
    // }
}