@import './styles/globals.scss';
@import './styles/mixins.scss';


// Fonts
$comfortaa: "comfortaa";
$comfortaa-reg: "comfortaa-reg";
$comfortaa-bold: "comfortaa-bold";

$atmos: "atmos";

* {
    font-weight: 100;
    box-sizing: content-box;
    overflow-x: hidden;
}

.experienceItemContainer:hover {
    cursor: pointer;
}

@font-face {
    font-family: "atmos";
    // src: url(./assets/fonts/atmos.ttf) format("truetype");
    src: url(./assets/fonts/Atmos.ttf) format("truetype");
}


@font-face {
    font-family: "comfortaa";
    // src: url(./assets/fonts/Sansation_Regular.ttf) format("truetype");
    src: url(./assets/fonts/comfortaa/Comfortaa-Light.ttf) format("truetype");
}

@font-face {
    font-family: "comfortaa-reg";
    // src: url(./assets/fonts/Sansation_Regular.ttf) format("truetype");
    src: url(./assets/fonts/comfortaa/Comfortaa-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "comfortaa-bold";
    // src: url(./assets/fonts/Sansation_Regular.ttf) format("truetype");
    src: url(./assets/fonts/comfortaa/Comfortaa-Bold.ttf) format("truetype");
}

body {
    font-family: $comfortaa, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: blueviolet;
    background-color: #000;

    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    i,
    li,
    a {
        color: #fff;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button {
    background-color: $darkGrayish;
}

::-webkit-scrollbar-button {
    background-color: $darkGrayish;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $darkGrayish;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $yellow;
}