.desktopNavContainer {
    z-index: 11;
    position: fixed;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 10px;
    top: 10px;
    left: 10px;
    width: 100%;

    .navItem {
        border-radius: 3px;
        padding: 10px;
    }
}