@import "../styles/globals.scss";
@import "../styles/responsive.scss";

.footerContainer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;

    .linksContainer {
        z-index: 1000;
        padding: 10px;
        display: flex;

        .resumeText {
            align-self: center;
            text-align: end;
            font-weight: 800;
            font-size: 12px;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            margin-left: -20px;
        }

        a {
            display: flex;
            padding: 0 10px;
            transition: all 500ms;

            &:hover {
                color: $pink;
                transform: rotate(10deg) scale(1.1);
            }
        }
    }


    .textItemContainer {
        padding: 10px;

        .textItem {
            font-size: 14px;
            color: $teal;
        }
    }

    @media only screen and (max-width: $smDevice) {
        padding: $pagePadding_Mobile;
    }

    @media only screen and (max-width: $xsDevice) {
        padding: $pagePadding_Mobile;

        .textItemContainer {
            display: none;
        }
    }
}

.footerContainerInactive {
    position: fixed;
    bottom: 30px;
    right: 50px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;

    .inactiveItem {
        width: 10px;
        height: 10px;
        border: solid 2px #f0f;
        border-radius: 2px;
        margin: 5px;
    }
}