.demos-container {
    width: 100vw;
    height: 50vh;
    min-width: 350px;
    // height: 100%;

    .demo-videos-container {
        display: flex;
        flex-flow: column;

    }
}

.demo-instance-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;

    .text-content {
        width: 300px;
        justify-content: center;
        align-items: center;

        p {
            font-weight: 900;
        }
    }

    .react-video-player {
        height: 300px;
    }
}